<div class="header"></div>
<!-- Create New Team -->
<div class="columns fourteen">
	<form action="/teams/new" method="post">
		<div class="columns four offset-by-five">
			<div>
				<label for="team[name]">Enter the Team's Name: </label>
				<input type="text" name="team[name]" autofocus />
			</div>
			<div>
				<label for="team[country]">Enter the Team's Country: </label>
				<input type="text" name="team[country]" />
			</div>
		</div>
		<div class="row"></div>
		<input type="submit" value="Make the Team!" />
	</form>
</div>
<!-- End Create New Team -->